@mixin __grid-row-css {

  $row-gutter-base:     nth(__g(gutters), 1);
  $row-gutter-large:    nth(__g(gutters), 2);
  $column-gutter-base:  nth(__g(gutters), 3);
  $column-gutter-large: nth(__g(gutters), 4);

  .#{__g_classes(row)} {
    display: flex;
    flex-wrap: wrap;

    padding-left: $column-gutter-base / 2;
    padding-right: $column-gutter-base / 2;
    // padding: $row-gutter-base / 2 $column-gutter-base / 2;
    margin-left: -$column-gutter-base;
    margin-right: -$column-gutter-base;

    @media (min-width: __g(gutter-breakpoint)) {
      padding-left: $column-gutter-large / 2;
      padding-right: $column-gutter-large / 2;
      // padding: $row-gutter-large / 2 $column-gutter-large / 2;
      margin-left: -$column-gutter-large;
      margin-right: -$column-gutter-large;
    }

    // & + .#{__g_classes(row)} {
    //   margin-top: -$row-gutter-base;

    //   @media (min-width: __g(gutter-breakpoint)) {
    //     margin-top: -$row-gutter-large;
    //   }
    // }

    // &:last-child {
    //   .#{__g_classes(col)} & {
    //     margin-bottom: -$row-gutter-base;

    //     @media (min-width: __g(gutter-breakpoint)) {
    //       margin-bottom: -$row-gutter-large;
    //     }
    //   }
    // }

    // &:first-child {
    //   .#{__g_classes(col)} & {
    //     margin-top: -$row-gutter-base;

    //     @media (min-width: __g(gutter-breakpoint)) {
    //       margin-top: -$row-gutter-large;
    //     }
    //   }
    // }

    &.#{__g_classes(col)}-space-between {
      justify-content: space-between;
    }
  }
}
